.inner {
  flex-shrink: 1;
  flex-grow: 0;
  overflow: auto;
}

.list {
  background-color: lightgrey;
  padding: 0.4em;
  width: 20em;
  color: black;
  margin-right: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  display: flex;
}
