@import "~inter-ui/inter.css";

html { font-family: 'Inter', sans-serif; }

body {
  height: 100vh;
  display: flex;
  flex-direction: column
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

p a {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.zoomOnHover:hover {
  cursor: pointer;
  transition-delay: 0.5s;
  transition-duration: 2s;
  transition-property: all;
  transform: scale(1.1, 1.1);
}
