@import 'https://rsms.me/inter/inter.css';

html {
  font-family: 'Inter', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column
}

body {
  margin: 0;
  padding: 0;
}

#root {
  flex-grow: 1;
}

#footer {
  color: white;
  background: lightgray;
  padding: 1em;
}
#footer p a i {
  display: inline;
}

p a {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
