{
  "extends": [
    "../.eslintrc"
    // currently not installed:
    // because it would need eslint dependency, too
    //  "plugin:cypress/recommended"
  ]
  ,
  "plugins": [
    //"cypress"
  ]
}
