.footer {
  font-size: 0.75em;
  color: black;
  background: lightgray;
  padding: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row  span > img  {
  padding: 0 0.25rem !important;
}

.spacer {
  flex: 1;
}

