body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  height: 1vh;
  flex-direction: column;
}

#footer {
  color: white;
  background: lightgray;
  padding: 1em;
}
#footer p a i {
  display: inline;
}

p a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
